h1,
p {
  font-family: Lato;
}
table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

thead tr th {
  font-weight: 500;
  text-align: left;
  background-color: #fafafa;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

th,
td {
  padding: 8px;
  overflow-wrap: break-word;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  text-align: center;
}
.form {
  text-align: center;
  margin-top: 20px;
}
.year {
  margin-left: 20px;
}
.movie-not-found {
  text-align: center;
}

.button {
  margin-left: 20px;
}
#movieName {
  margin-left: 5px;
  text-align: center;
}
#year {
  margin-left: 5px;
  text-align: center;
}
